/* Default color scheme */
@define-color bg_color #ededed;
@define-color fg_color #202020;
@define-color base_color #fff;
@define-color text_color #444;
@define-color selected_bg_color #a9b7c4;
@define-color selected_fg_color #333;
@define-color tooltip_bg_color #d6dce4;
@define-color tooltip_fg_color #222222;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_bg_color rgb(169, 183, 196);
@define-color info_fg_color rgb(0, 0, 0);
@define-color warning_bg_color rgb(250, 173, 61);
@define-color warning_fg_color rgb(173, 120, 41);
@define-color question_bg_color rgb(138, 173, 212);
@define-color question_fg_color rgb(97, 122, 214);
@define-color error_bg_color rgb(237, 54, 54);
@define-color error_fg_color rgb(166, 38, 38);
@define-color link_color #4d75bf;
@define-color visited_link_color #884dbf;
@define-color success_color #4e9a06;
@define-color error_color #cc0000;

/* widget colors */
@define-color menubar_bg_color #1e1e1e;
@define-color menubar_fg_color mix(@theme_fg_color, #efffff, 0.7);
@define-color toolbar_bg_color #dedede;
@define-color toolbar_fg_color #202020;
@define-color menu_bg_color #292b2c;
@define-color menu_fg_color mix(@theme_fg_color, #efffff, 0.7);
@define-color panel_bg_color #18191a;
@define-color panel_fg_color mix(@theme_fg_color, #efffff, 0.7);

/* osd */
@define-color osd_base #292b2c;
@define-color osd_fg mix(@theme_fg_color, #efffff, 0.7);
@define-color osd_bg alpha(@osd_base, 0.8);

/* window manager colors */
@define-color wm_bg #1e1e1e;
@define-color wm_title_focused #ededed;
@define-color wm_title_unfocused #626262;
@define-color wm_border_focused #3f3f3f;
@define-color wm_border_unfocused #3f3f3f;

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/unity.css");
@import url("apps/xfce.css");
