XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: @panel_bg_color;
}

.xfce4-panel .button {
    border-radius: 0;
    padding: 1px;
    color: @panel_fg_color;
}

.xfce4-panel .button:active {
    border-width: 0 1px;
    border-radius: 0;
    border-color: shade(@panel_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@panel_bg_color, 0.85)),
                                     to (shade(@panel_bg_color, 1.0)));

    color: @panel_fg_color;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    border-color: shade(@panel_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@panel_bg_color, 1.7)),
                                     to (shade(@panel_bg_color, 1.25)));

    color: @panel_fg_color;
}

/* menu-styling, e.g. for indicators */
.xfce4-panel .menu,
.xfce4-panel .menu GtkLabel,
.xfce4-panel .menu GtkImage {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

.xfce4-panel .menu *:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.1)),
                                     to (shade(@theme_selected_bg_color, 0.9)));
}

.xfce4-panel .menu GtkLabel:hover,
.xfce4-panel .menu GtkImage:hover {
    background-image: none;
    color: @theme_selected_fg_color;
}
