XfceHeading {
    background-color: @theme_base_color;
    background-image: none;
    padding: 0;
    border-width: 0;
}

.xfce4-panel {
    background-color: @panel_bg_color;
    color: @panel_fg_color;
}

.xfce4-panel .button {
    background-image: none;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    padding: 0 1px;
    color: @panel_fg_color;
    text-shadow: 0px 1px alpha(@dark_shadow, 1.0);
}

.xfce4-panel .button:active,
.xfce4-panel .button:checked {
    border-width: 0 1px;
    border-radius: 2px;
    border-color: shade(@panel_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(@panel_bg_color, 0.85)),
                                     to (shade(@panel_bg_color, 1.0)));

    color: shade(@panel_fg_color, 1.3);
    transition: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover,
.xfce4-panel .button:checked:hover {
    border-color: shade(@panel_bg_color, 0.7);
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade (@selected_bg_color, 0.5)),
                                     to (shade(@selected_bg_color, 0.4)));

    box-shadow: inset 0 -1px alpha(white, 0.0),
                inset 1px 0 alpha(white, 0.1),
                inset -1px 0 alpha(white, 0.1),
                inset 0 1px alpha(white, 0.1);
    color: shade(@panel_fg_color, 1.3);
    transition: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}